apiVersion: v1
kind: Secret
metadata:
  name: {{ include "onboarding-faucet.fullname" . }}
  labels:
    {{- include "onboarding-faucet.labels" . | nindent 4 }}
type: Opaque
data:
  PRIVATE_KEY: {{ .Values.config.PRIVATE_KEY | b64enc }}
