apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "geth-swap.fullname" . }}
  labels:
    {{- include "geth-swap.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "geth-swap.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "geth-swap.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "geth-swap.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: geth-config
          configMap:
            name: {{ include "geth-swap.fullname" . }}-config
        - name: datadir
          emptyDir: {}
      initContainers:
        - name: geth-setup
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
          - sh
          - -ac
          - >
            set -xe;
            geth account import --password /dev/null /etc/config/validatorKey;
            geth init /etc/config/genesis.json;
          volumeMounts:
            - name: geth-config
              mountPath: /etc/config
            - name: datadir
              mountPath: /root/.ethereum
      containers:      
        - name: geth
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: rpc
              containerPort: 8545
              protocol: TCP
            - name: ws
              containerPort: 8546
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: geth-config
              mountPath: /etc/config
            - name: datadir
              mountPath: /root/.ethereum
          command:
            - geth
            - --rpc
            - --rpcaddr
            - "0.0.0.0"
            - --allow-insecure-unlock
            - --http.api
            - 'eth,net,personal'
            - --ws
            - --ws.addr
            - "0.0.0.0"
            - --ws.api
            - 'eth,net,personal'
            - --rpcvhosts
            - "*"
            - --mine
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
