---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "bee.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "bee.labels" . | nindent 4 }}
data:
  .bee.yaml: |+
    api-addr: {{ .Values.beeConfig.api_addr }}
    block-time: {{ .Values.beeConfig.block_time }}
    bootnode: {{ .Values.beeConfig.bootnode }}
    bootnode-mode: {{ .Values.beeConfig.bootnode_mode }}
    clef-signer-enable: {{ .Values.beeConfig.clef_signer_enable }}
    clef-signer-endpoint: {{ .Values.beeConfig.clef_signer_endpoint }}
    cors-allowed-origins: {{ .Values.beeConfig.cors_allowed_origins }}
    data-dir: {{ .Values.beeConfig.data_dir }}
    cache-capacity: {{ .Values.beeConfig.cache_capacity }}
    db-open-files-limit: {{ .Values.beeConfig.db_open_files_limit }}
    db-block-cache-capacity: {{ .Values.beeConfig.db_block_cache_capacity }}
    db-write-buffer-size: {{ .Values.beeConfig.db_write_buffer_size }}
    db-disable-seeks-compaction: {{ .Values.beeConfig.db_disable_seeks_compaction }}
    debug-api-addr: {{ .Values.beeConfig.debug_api_addr }}
    debug-api-enable: {{ .Values.beeConfig.debug_api_enable }}
    full-node: {{ .Values.beeConfig.full_node }}
    gateway-mode: {{ .Values.beeConfig.gateway_mode }}
    global-pinning-enable: {{ .Values.beeConfig.global_pinning_enable }}
    nat-addr: {{ .Values.beeConfig.nat_addr }}
    network-id: {{ .Values.beeConfig.network_id }}
    {{- if .Values.beeConfig.usePasswordFile }}
    password-file: /home/bee/.secret/password
    {{- else }}
    password: {{ include "bee.password" . }}
    {{- end }}
    payment-early: {{ .Values.beeConfig.payment_early }}
    payment-threshold: {{ .Values.beeConfig.payment_threshold }}
    payment-tolerance: {{ .Values.beeConfig.payment_tolerance }}
    postage-stamp-address: {{ .Values.beeConfig.postage_stamp_address }}
    price-oracle-address: {{ .Values.beeConfig.price_oracle_address }}
    p2p-addr: {{ .Values.beeConfig.p2p_addr }}
    p2p-quic-enable: {{ .Values.beeConfig.p2p_quic_enable }}
    p2p-ws-enable: {{ .Values.beeConfig.p2p_ws_enable }}
    resolver-options: {{ .Values.beeConfig.resolver_options }}
    standalone: {{ .Values.beeConfig.standalone }}
    swap-enable: {{ .Values.beeConfig.swap_enable }}
    swap-endpoint: {{ .Values.beeConfig.swap_endpoint }}
    swap-factory-address: {{ .Values.beeConfig.swap_factory_address }}
    swap-legacy-factory-addresses: {{ .Values.beeConfig.swap_legacy_factory_addresses }}
    swap-initial-deposit: {{ .Values.beeConfig.swap_initial_deposit }}
    tracing-enable: {{ .Values.beeConfig.tracing_enable }}
    tracing-endpoint: {{ .Values.beeConfig.tracing_endpoint }}
    tracing-service-name: {{ .Values.beeConfig.tracing_service_name }}
    verbosity: {{ .Values.beeConfig.verbosity }}
    welcome-message: {{ .Values.beeConfig.welcome_message }}
    
