{{- if and .Values.beeConfig.debug_api_enable .Values.ingressDebug.enabled -}}

{{- $root := . -}}
{{- $fullName := include "bee.fullname" $root -}}

# PER POD INGRESS
{{- range $i, $e := until (int $root.Values.replicaCount) }}
---
{{- if semverCompare ">=1.19-0" $root.Capabilities.KubeVersion.Version }}
apiVersion: networking.k8s.io/v1
{{- else -}}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}-{{ $i }}-debug
  namespace: {{ $root.Release.Namespace }}
  labels:
    {{- include "bee.labels" $root | nindent 4 }}
  {{- with $root.Values.ingressDebug.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if $root.Values.ingressDebug.tls }}
  tls:
  {{- range $root.Values.ingressDebug.hosts }}
    - hosts:
      {{- if .domain }}
        - {{ $fullName }}-{{ $i }}-debug.{{ .domain }}
      {{- else }}
        - {{ $fullName }}-{{ $i }}-debug
      {{- end }}
    {{- if .tlsSecret }}
      secretName: {{ .tlsSecret }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if semverCompare ">=1.18-0" $root.Capabilities.KubeVersion.Version }}
  ingressClassName: {{ $root.Values.ingressDebug.ingressClassName }}
{{- end }}
  rules:
  {{- range $root.Values.ingressDebug.hosts }}
    {{- if .domain }}
    - host: {{ $fullName }}-{{ $i }}-debug.{{ .domain }}
    {{- else }}
    - host: {{ $fullName }}-{{ $i }}-debug
    {{- end }}
      http:
        paths:
        {{- range .paths }}
          - path: {{ . }}
          {{- if semverCompare ">=1.18-0" $root.Capabilities.KubeVersion.Version }}
            pathType: {{ $root.Values.ingressDebug.pathType }}
          {{- end }}
            backend:
            {{- if semverCompare ">=1.19-0" $root.Capabilities.KubeVersion.Version }}
              service:
                name: {{ $fullName }}-{{ $i }}-debug
                port:
                  name: debug
            {{- else }}
              serviceName: {{ $fullName }}-{{ $i }}-debug
              servicePort: debug
            {{- end }}
        {{- end }}
  {{- end }}
{{- end }}

{{- end -}}
