{{- if and .Values.swarmSettings.enabled (not .Values.swarmSettings.existingSecret) -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "bee.fullname" . }}-swarm
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "bee.labels" . | nindent 4 }}
type: Opaque
stringData:
  swarmKeys: |-
    {{- range $key, $val := .Values.swarmSettings.swarmKeys }}
    {{ $key }}: {{ $val }}
    {{- end }}
    
{{- end -}}
