{{- if .Values.beeConfig.debug-api-enable -}}

{{- $root := . -}}

{{- range $i, $e := until (int $root.Values.replicaCount) }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "bee.fullname" $root }}-{{ $i }}-debug
  namespace: {{ $root.Release.Namespace }}
  labels:
    {{- include "bee.labels" $root | nindent 4 }}
    pod: {{ include "bee.fullname" $root }}-{{ $i }}
    endpoint: debug
    app: {{ include "bee.name" $root }}
    release: {{ $root.Release.Name }}
spec:
  type: ClusterIP
  ports:
    - name: debug
      port: {{ int (split ":" $root.Values.beeConfig.debug-api-addr )._1 }}
      protocol: TCP
      targetPort: debug
  selector:
    {{- include "bee.selectorLabels" $root | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ include "bee.fullname" $root }}-{{ $i }}

{{- end }}
{{- end -}}
