---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "bee.fullname" . }}-headless
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "bee.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - name: api
      port: {{ int (include "bee.config.api_port" .) }}
      protocol: TCP
      targetPort: api
    - name: p2p-udp
      port: {{ int (include "bee.config.p2p_port" .) }}
      protocol: UDP
      targetPort: p2p-udp
    - name: p2p-tcp
      port: {{ int (include "bee.config.p2p_port" .) }}
      protocol: TCP
      targetPort: p2p-tcp
    {{- if index .Values.beeConfig "p2p-wss-enable" }}
    - name: p2p-wss
      port: {{ int (include "bee.config.p2p-wss_port" .) }}
      protocol: TCP
      targetPort: p2p-wss
    {{- end }}
  selector:
    {{- include "bee.selectorLabels" . | nindent 4 }}
  type: {{ .Values.service.type }}

# PER POD P2P HEADLESS
{{- $root := . -}}
{{- range $i, $e := until (int $root.Values.replicaCount) }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "bee.fullname" $root }}-{{ $i }}-headless
  namespace: {{ $root.Release.Namespace }}
  labels:
    {{- include "bee.labels" $root | nindent 4 }}
    pod: {{ include "bee.fullname" $root }}-{{ $i }}
    endpoint: p2p
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: p2p-tcp
      port: {{ int (include "bee.config.p2p_port" $root) }}
      protocol: TCP
      targetPort: p2p
    - name: p2p-udp
      port: {{ int (include "bee.config.p2p_port" $root) }}
      protocol: UDP
      targetPort: p2p
  selector:
    {{- include "bee.selectorLabels" $root | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ include "bee.fullname" $root }}-{{ $i }}

{{- end }}
